<h2>Titel:</h2>
<div class="posts">
  <h2><%= @post.title %></h2>
</div>

<h2>Beitrag:</h2>
<div class="posts">
  <p><%= @post.content %></p>
</div>


<div class="edit"><%= link_to "Edit", edit_post_path(@post) %></div>

<div class="back_link"><%= link_to "Zurück", posts_path %></div>
